# /restock
/restock/1a-single-family_attached.csv 
/resstock/1a-multi-family_with_2_-_4_units.csv
/resstock/metadata_resstock.tsv 

# /comstock
/comstock/metadata_comstock.tsv 
/comstock/1a-fullservicerestaurant.csv


# all 
*.parquet
